@font-face {
    font-family: "Montserrat";
    src: url("fuentes/Montserrat.ttf");
  }
  body {
    font-family: "Montserrat", sans-serif;
  }

  @font-face {
    font-family: "Nebulax";
    src: url("fuentes/Nebulax.ttf");
  }
  body {
    font-family: "Nebulax", sans-serif;
  }